body{
    background-color: #656D8F;
    width: 100%;
}
header{
    background-color: #8e97c0;
    position: fixed;
    color: aliceblue;
    width: 100%;
    top: 0;
    right: 0;
    text-align: center;
}
header h1 {
    color:#694d43;
    font-size: 2em;
}
header p {
    font-size: 1em;
    width: 50%;
    margin: auto;
}


#main{
    text-align: center;
    margin-top: 11em;

}

.contentFunction {
    width: 50%;
    text-align: center;
    background-color:#694d43b7;
    margin: 20px;
    padding: 50px;    
    margin: 20px auto;
    color: aliceblue;
    border: solid rgb(145, 147, 150) 10px;
    border-style:groove;
}

.title {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10px;
    border-bottom: solid black 2px;
}

.description {
    font-size: 0.7em;
    margin-bottom: 20px;
}

.button {
    width: 30%;
    border: 1px solid blue;
    margin: 20px auto;
    height: 30px;
    display: block;
}
.button:active {
    background-color: #656D8F;
    transition: all 0.5ms;
    border: #694d43;
}

.result {
    display: block;    
}
