*{
    padding: 0;
    margin: 0;
}

#temaGeral{
    background-color: #ccc;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;

}

/*-----------------------------------Área de Navegação--------------------------------------*/
#areaDeNavegacao{
    background-color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 37px;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    
}

.navegation{
    text-decoration: none;
    color: white;
    padding: 30px;
}
/*-----------------------------------Corpo--------------------------------------*/

main{
    width: 100%;
    margin-top: 100px;
}


/*-----------------------------------Artigo--------------------------------------*/

#artigo{
    width: 60%;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}



/*-----------------------------------Aside--------------------------------------*/

#videoDoBichao{
    width: 36%;
    display: inline-block;
    top: 0;
    text-align: center;
    background-color: #181818;
    color: white;
    padding: 5px;
}

/*-----------------------------------Referências Bibliográficas--------------------------------------*/
#referenciasBibliograficas{
    width: 100%;
    background-color: #181818;
    color: white;
    padding: 2%;
    clear: both;
}

/*-----------------------------------Rodapé--------------------------------------*/

#rodape{
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}


/*-----------------------------------Geral--------------------------------------*/
.titulos{
    margin: 5px;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    border-bottom: #181818 solid 1px;

}

h1 , h2, h3{
    
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li{
    list-style-type: none;
    text-align: center;
}

h3{
    padding: 20px;
}

p, table, img{
    text-align: center;
    margin: 0 20px 0 20px;
    
}